.song-block {
  border-radius: 8px;
  background-color: #3d3d3d;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 130px;
}
.animation-each .song-block {
  position: absolute;
  opacity: 0;
  transform: translateX(-110%);
  transition: transform 0.5s, opacity 0.5s;
  min-width: 200px;
}
.light .song-block {
  background-color: #ffffff;
  color: black;
}
.animation-each .song-block.show {
  transform: translateX(0);
  opacity: 1;
}
.enable-container {
  container-type: inline-size;
  container-name: song-block;
}

.song-title {
  font-weight: 500;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.countdown {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  font-size: 14px;
}

.song-info {
  padding: 4px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.song-artist {
  font-weight: 400;
  text-align: right;
}
.song-timestamp {
  position: absolute;
  bottom: -20px;
  left: -2px;
  display: flex;
  gap: 4px;
}
.song-timestamp::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  border-radius: 2px;
  background-color: white;
}
.group-tag {
  font-size: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0 8px;
}
.group-tag.larger {
  font-size: 12px;
  padding: 4px 12px;
}
.group-tml {
  background: rgb(190, 0, 0);
}
.group-fm {
  background: linear-gradient(90deg, #587b33 0%, #5c6824 100%);
}
.group-jd {
  background: linear-gradient(90deg, #ba22a0 0%, #ed15a1 100%)
}
.group-ml {
  background: linear-gradient(90deg, #c65f0a 0%, #db960b 100%);
}
.group-gdf {
  background: linear-gradient(90deg, #d93319 0%, #cb6a1b 100%);
}
.group-fd {
  background: linear-gradient(90deg, #ed158f 0%, #ec2f6b 47%, #ed6d46 100%);
}
.group-lr {
  background: linear-gradient(90deg, #945388 0%, #8e9bbc 100%);
}
.group-ba {
  background: linear-gradient(90deg, #b53062 0%, #e25088 80%, #eacbda 100%);
}
.group-other {
  background: rgb(107, 107, 107);
}

.light .group-tml {
  background: rgb(255, 135, 135);
}
.light .group-fm {
  background: linear-gradient(90deg, #abeb67 0%, #d6f160 100%);
}
.light .group-jd {
  background: linear-gradient(90deg, #ff89eb 0%, #f68fbe 100%)
}
.light .group-ml {
  background: linear-gradient(90deg, #ffb171 0%, #ffbf3e 100%);
}
.light .group-gdf {
  background: linear-gradient(90deg, #ff9090 0%, #ffbf8b 100%);
}
.light .group-fd {
  background: linear-gradient(90deg, #ffa1e9 0%, #ff9aa7 47%, #ffa584 100%);
}
.light .group-lr {
  background: linear-gradient(90deg, #edcee7 0%, #c6d1eb 100%);
}
.light .group-ba {
  background: linear-gradient(90deg, #ff9dbf 0%, #ffbad2 100%);
}
.light .group-other {
  background: rgb(199, 199, 199);
}

.animation-showup .song-block {
  animation: showup 0.5s ease-out forwards;
  opacity: 0;
}
.animation-hide .song-block {
  animation: hide 0.5s ease-out forwards;
  animation-delay: 0ms !important;
}

@keyframes showup {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.animation-each .song-block {
  position: absolute;
}