.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-modal video {
  max-width: 90%;
  max-height: 90%;
}

.video-modal-close {
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 20px !important;
}