.song-form {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 8px;
}

.timestamp {
  display: flex;
  gap: 8px;
}
.timestamp input {
  min-width: 0;
}

.timeline-config {
  display: flex;
  gap: 8px;
}
.font-size-config {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 8px;
  font-size: 12px;
  align-items: center;
  padding: 4px;
  border-radius: 4px;
  background-color: #222;
}