#root {
  flex: 1;
  display: flex;
  height: 100vh;
  box-sizing: border-box;
}

.tab-content {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  gap: 8px;
}
.tab-content::before {
  content: "";
  display: block;
  width: 1px;
  background-color: #3a3a3a;
  margin: -8px 0;
}

.tab-bar {
  display: flex;
  flex-direction: column;
  padding: 6px;
  gap: 4px;
  border-left: 1px solid #3a3a3a;
  background-color: #222;
}
.tab-bar button {
  color: #3296f5;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.tab-bar button.active {
  background-color: #0f74d2;
  color: white;
}
.tab-bar button .badge {
  font-size: 8px;
  position: absolute;
  font-stretch: 40%;
  left: 2px;
  bottom: 2px;
}